{% extends 'base.html' %}

{% block head %}

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Welcome</title>
    {% endif %}

{% endblock %}



{% block body %}

<div class="container mt-3">
    <div class="col-md-6 rounded">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} mt-2"> 
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}


        <form method="POST" action="">

            <legend class="border-bottom my-5">Log In</legend>

            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" class="form-control form-control-lg" name="username">
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control form-control-lg" name="password">
            </div>

            <button type="submit" class="btn btn-sm btn-outline-primary">Login</button>
        </form>


        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account?<a href="{{ url_for('register') }}" class="ml-2">Sign Up Now</a>
            </small>
            <p>
                <small class="text-muted">
                    <a href="{{ url_for('home') }}" class="ml-2">Home</a>
                </small>
            </p>
        </div>
    </div>
    
</div>



{% endblock %}