{% extends 'base.html' %}

{% block head %}

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Welcome</title>
    {% endif %}

{% endblock %}



{% block body %}

<div class="container mt-3">
    <div class="col-md-6 rounded">

        <form method="POST" action="">
            <form method="POST" action="">

                <legend class="border-bottom my-5">Register</legend>
    
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control form-control-lg" name="username">
                </div>

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control form-control-lg" name="email">
                </div>
    
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control form-control-lg" name="password" id="password" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Confirm Password</label>
                    <input type="password" class="form-control form-control-lg" name="confirm_password" id="confirm_password" />
                </div>

                <div id="msg">

                </div>
    
                <button type="submit" class="btn btn-sm btn-outline-primary">Sign Up</button>
            </form>
        </form>

        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account?<a href="{{ url_for('login') }}" class="ml-2">Sign In</a>
            </small>
            <p>
                <small class="text-muted">
                    <a href="{{ url_for('home') }}" class="ml-2">Home</a>
                </small>
            </p>
        </div>
    </div>
    
</div>



<script>

var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;


</script>

{% endblock %}