{% extends 'base.html' %}

{% block head %}

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Welcome</title>
    {% endif %}

{% endblock %}



{% block body %}

<div class="container mt-3">
    <div class="col-md-6 rounded">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} mt-2"> 
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}


        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom my-5">Log In</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            </fieldset>
            
            <div class="form-group">
                {{ form.submit(class="btn btn-sm btn-outline-primary")}}
            </div>
            <small class="text-muted ml-2">
                <a href="#">Forgot Password?</a>
            </small>
        </form>


        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account?<a href="{{ url_for('register') }}" class="ml-2">Sign Up Now</a>
            </small>
            <p>
                <small class="text-muted">
                    <a href="{{ url_for('home') }}" class="ml-2">Home</a>
                </small>
            </p>
        </div>
    </div>
    
</div>



{% endblock %}